ffmpeg==1.4
ffmpeg-python==0.2.0
Flask==3.0.3
gTTS==2.5.4
jsonify==0.5
Jinja2==3.1.4
librosa==0.10.2.post1
ollama==0.4.7
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pydub==0.25.1
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
SpeechRecognition==3.11.0
uvicorn==0.32.1
gunicorn==20.1.0
vosk==0.3.44
Werkzeug==3.0.4
yarl==1.18.0
